<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e_r_platform.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.e_r_platform.model.Resource">
        <id column="node_id" property="nodeId"/>
        <result column="course_id" property="courseId"/>
        <result column="parent_node_id" property="parentNodeId"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="file_uri" property="fileUri"/>
        <result column="display_order" property="displayOrder"/>
    </resultMap>

<!--    <sql id="Base_Column_List">-->
<!--        resource_id,course_id,name,-->
<!--        path-->
<!--    </sql>-->

    <insert id="insertResource" useGeneratedKeys="true" keyProperty="nodeId">
        INSERT INTO resource
            (course_id, parent_node_id, type, title, file_uri, display_order)
        VALUES
            (#{courseId}, #{parentNodeId}, #{type}, #{title}, #{fileUri}, #{displayOrder})
    </insert>

    <update id="updateResource" parameterType="com.e_r_platform.model.Resource">
        UPDATE resource
        <set>
            <if test="courseId != null">course_id = #{course_id},</if>
            <if test="parentNodeId != null">parent_node_id = #{parent_node_id},</if>
            <if test="type != null">type = #{type},</if>
            <if test="title != null">title = #{title},</if>
            <if test="fileUri != null">file_uri = #{file_uri},</if>
            <if test="displayOrder != null">display_order = #{display_order}</if>
        </set>
        WHERE node_id = #{node_id}
    </update>

    <update id="decrementOrderAfterDelete">
        UPDATE resource SET
                            display_order = display_order - 1
        WHERE parent_node_id = #{parentId} AND display_order > #{deletedOrder}
    </update>

    <delete id="deleteById">
        DELETE FROM resource WHERE node_id = #{nodeId}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM resource WHERE node_id = #{nodeId}
    </select>

    <select id="selectChildren" resultMap="BaseResultMap">
        SELECT * FROM resource
        WHERE parent_node_id = #{parentId}
        ORDER BY display_order ASC
    </select>

    <select id="selectMaxOrderUnderParent" resultType="Integer">
        SELECT MAX(display_order) FROM resource
        WHERE parent_node_id = #{parentId}
    </select>

</mapper>
